/* ==========================================================================
   Base styles: helper classes
   ========================================================================== */
.border-radius-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.border-radius-100 {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.border-radius-title {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dark-bg {
  background: #202020;
  background: rgba(0, 0, 0, 0.6);
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #fff;
}
html {
  font-size: 1em;
  line-height: 1.4em;
}
ul {
  list-style-type: none;
}
/*
 * Selection style
 */
::-moz-selection,
::selection {
  background: #2d7fb9;
  text-shadow: none;
  color: #fff;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Grids @respoGrid... and default holder
   ========================================================================== */
/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
/*  GROUPING  ============================================================================= */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */

}
/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child {
  margin-left: 0;
}
/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}
/*  GRID OF TWO   ============================================================================= */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}
@media only screen and (max-width: 480px) {
  .span_2_of_2 {
    width: 100%;
  }
  .span_1_of_2 {
    width: 100%;
  }
}
/*  GRID OF THREE   ============================================================================= */
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.13%;
}
.span_1_of_3 {
  width: 32.26%;
}
@media only screen and (max-width: 480px) {
  .span_3_of_3 {
    width: 100%;
  }
  .span_2_of_3 {
    width: 100%;
  }
  .span_1_of_3 {
    width: 100%;
  }
}
.in {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  overflow: hidden;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #202020;
  background: rgba(0, 0, 0, 0.6);
}
/* ==========================================================================
   Typography
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Sanchez', serif;
}
h1 {
  font-size: 2.20em;
  margin: 0.8em 0 0.4em 0;
}
h2 {
  font-size: 2.00em;
  margin: 1.0em 0 0.8em 0;
}
h3 {
  font-size: 1.40em;
  margin: 1.0em 0 .6em 0;
}
h3 span {
  display: inline-block;
  position: relative;
  padding: .2em 1em;
  letter-spacing: 1px;
}
h3.subtitle {
  text-align: center;
  text-transform: uppercase;
}
h3.subtitle span {
  margin: 0 auto 1em;
  border-bottom: 2px dashed #ccc;
}
h4 {
  font-size: 1.20em;
  margin: 1.0em 0 .6em 0;
}
h5 {
  font-size: 1em;
  margin: 1.0em 0 .8em 0;
}
h6 {
  font-size: .9em;
  margin: 1.0em 0 .8em 0;
}
p {
  margin: 1.2em 0;
  line-height: 1.5em;
}
a {
  color: #2d7fb9;
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}
.inner-title-holder {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  padding: 0;
}
.inner-title-holder .inner-title {
  margin-top: 0;
  font-size: 5em;
  line-height: 1.5em;
  margin-bottom: 0;
  font-family: 'Rambla', sans-serif;
  font-weight: 700;
}
.inner-title-holder .tagline {
  margin-bottom: 0;
  position: relative;
  top: -20px;
  margin-top: 0;
  font-size: .8em;
  font-weight: normal;
  font-family: 'Sanchez', serif;
}
p.details {
  text-align: center;
  font-style: italic;
  line-height: 3em;
}
p.details span {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
p.details .btn {
  font-style: normal;
}
/* ==========================================================================
   Buttons - PurelyCSS Elegance Buttons
   ========================================================================== */
.btn {
  font-family: 'Open sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 0 5px 5px 0;
  padding: 10px 50px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  border: 2px solid #2d7fb9;
  background: #111;
  color: #f8f8f8 !important;
  -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4) inset, -1px -1px 0 rgba(255, 255, 255, 0.4) inset, 1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4) inset, -1px -1px 0 rgba(255, 255, 255, 0.4) inset, 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4) inset, -1px -1px 0 rgba(255, 255, 255, 0.4) inset, 1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #2d7fb9;
}
.btn.small {
  font-size: 10px;
  padding: 6px 25px;
}
.btn.large {
  font-size: 15px;
  padding: 15px 70px;
}
.btn:hover,
.btn:active {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  opacity: .7;
}
.btn:active {
  position: relative;
  top: 1px;
}
.btn.close {
  background-color: #666;
  border-color: #666;
}
.btn.dark {
  background-color: #555;
  border-color: #555;
}
.btn.dark.active,
.btn.dark:active,
.btn.dark:hover {
  background-color: #444;
  border-color: #444;
  opacity: .7;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'Open sans', sans-serif;
  font-size: 0.9em;
  background: #3A4048;
  background: url('../img/bg_pat.png') repeat;
}
body.overlay #side,
body.overlay #wrapper {
  display: none;
}
#side {
  width: 34%;
  background: #202020;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: fixed;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.7);
}
#side .inner-wrapper {
  width: 240px;
  padding: 78px 30px 0 30px;
  float: right;
  color: #fff;
  text-align: right;
}
#side .inner-wrapper #logo h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}
#side .inner-wrapper #logo .sub {
  margin-top: .5em;
  font-style: italic;
}
#side .inner-wrapper #nav {
  z-index: 10;
}
#side .inner-wrapper #nav ul {
  font-family: 'Sanchez', serif;
}
#side .inner-wrapper #nav ul li {
  margin-bottom: 20px;
  font-size: 0.9em;
  position: relative;
}
#side .inner-wrapper #nav ul li a {
  color: #fff;
  text-decoration: none;
  height: 32px;
  line-height: 32px;
  display: block;
  padding-right: 45px;
}
#side .inner-wrapper #nav ul li a.active,
#side .inner-wrapper #nav ul li a:hover {
  font-size: 1.1em;
  font-weight: 600;
}
#side .inner-wrapper #nav ul li a.nav-icon {
  background-position: 100% 0;
  background-repeat: no-repeat;
}
#side .inner-wrapper #nav ul li a:active,
#side .inner-wrapper #nav ul li a:focus {
  outline: none;
}
/* Focus pseudoclass as accessibility feature for keyboard navigation */
#side #nav ul li a.nav-icon span {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
  background-image: url('../img/icons/menu.png');
}
#side #nav ul li a.nav-icon.profile span {
  background-position: 0 0;
}
#side #nav ul li a.nav-icon.profile:hover > span,
#side #nav ul li a.nav-icon.profile.active > span,
#side #nav ul li a.nav-icon.profile:focus > span {
  background-position: -32px 0;
}
#side #nav ul li a.nav-icon.services span {
  background-position: 0 -32px;
}
#side #nav ul li a.nav-icon.services:hover > span,
#side #nav ul li a.nav-icon.services.active > span,
#side #nav ul li a.nav-icon.services:focus > span {
  background-position: -32px -32px;
}
#side #nav ul li a.nav-icon.skills span {
  background-position: 0 -64px;
}
#side #nav ul li a.nav-icon.skills:hover > span,
#side #nav ul li a.nav-icon.skills.active > span,
#side #nav ul li a.nav-icon.skills:focus > span {
  background-position: -32px -64px;
}
#side #nav ul li a.nav-icon.resume span {
  background-position: 0 -96px;
}
#side #nav ul li a.nav-icon.resume:hover > span,
#side #nav ul li a.nav-icon.resume.active > span,
#side #nav ul li a.nav-icon.resume:focus > span {
  background-position: -32px -96px;
}
#side #nav ul li a.nav-icon.portfolio span {
  background-position: 0 -128px;
}
#side #nav ul li a.nav-icon.portfolio:hover > span,
#side #nav ul li a.nav-icon.portfolio.active > span,
#side #nav ul li a.nav-icon.portfolio:focus > span {
  background-position: -32px -128px;
}
#side #nav ul li a.nav-icon.contact span {
  background-position: 0 -160px;
}
#side #nav ul li a.nav-icon.contact:hover > span,
#side #nav ul li a.nav-icon.contact.active > span,
#side #nav ul li a.nav-icon.contact:focus > span {
  background-position: -32px -160px;
}
/* ==========================================================================
   Main styles
   ========================================================================== */
#wrapper {
  width: 63%;
  margin-right: 2%;
  float: right;
  color: #fff;
  overflow: hidden;
}
#wrapper .content-area {
  padding-top: 78px;
  min-height: 800px;
}
#wrapper .content-area.visible {
  top: 0;
}
/* ==========================================================================
   Profile
   ========================================================================== */
#profile .image-holder {
  height: 216px;
  overflow: hidden;
  text-align: center;
}
#profile .image-holder img {
  width: 250px;
  height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#profile ul.info {
  margin-top: 0;
  padding-left: 20px;
}
#profile ul.info li {
  margin-bottom: 10px;
  height: 20px;
}
#profile ul.info li label {
  background: #2d7fb9;
  padding: 2px 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
}
#profile ul.info li span {
  width: 100%;
  display: block;
  margin-left: 120px;
}
#profile div.social-media {
  text-align: center;
}
#profile div.social-media ul {
  padding-left: 0;
}
#profile div.social-media ul li {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  text-indent: -9999px;
  width: 64px;
  height: 64px;
  border: 6px solid #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}
#profile div.social-media ul li:first-child {
  margin-left: 0;
}
#profile div.social-media ul li.social-icon a {
  background: url('../assets/some/social-icons.png') no-repeat;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: block;
}
#profile div.social-media ul li.github a {
  background-position: 0 0;
}
#profile div.social-media ul li.github:hover a {
  background-position: 0 -64px;
}
#profile div.social-media ul li.linkedin a {
  background-position: -64px 0;
}
#profile div.social-media ul li.linkedin:hover a {
  background-position: -64px -64px;
}
#profile div.social-media ul li.gplus a {
  background-position: -128px 0;
}
#profile div.social-media ul li.gplus:hover a {
  background-position: -128px -64px;
}
#profile div.social-media ul li a {
  width: inherit;
  height: inherit;
  display: block;
  font-size: 0;
  text-indent: -9999px;
}
/* ==========================================================================
   Services
   ========================================================================== */
#services div.col {
  margin-bottom: 50px;
}
#services div.image-holder {
  margin: 0 auto;
  text-align: center;
}
#services div.image-holder img {
  max-width: 128px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  width: 96px;
  height: 96px;
}
#services .title-wrapper {
  display: table;
  margin: 20px auto 0;
  text-align: center;
  min-height: 30px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  background: #414449;
}
#services .title-wrapper h3 {
  font-family: 'Open sans', sans-serif;
  font-size: 1.25em;
  font-size: 1.2em;
  margin-top: 20px;
  display: table-cell;
  vertical-align: middle;
}
#services div.span_1_of_3 p {
  text-align: center;
}
#services div.span_1_of_3 ul {
  list-style-type: disc;
  padding-left: 60px;
}
/* ==========================================================================
   Resume
   ========================================================================== */
.timeline {
  border-left: 10px solid #2d7fb9;
  margin-bottom: 5%;
}
.timeline:last-child {
  margin-bottom: 2%;
}
.timeline h3,
.timeline h4 {
  margin-top: 0;
}
.timeline h3 {
  background: #414449;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 12px;
  line-height: 28px;
  font-family: 'Open sans', sans-serif;
  font-size: 1.2em;
}
.timeline h4 {
  font-size: 1em;
  font-style: italic;
  margin-bottom: 0;
  padding-left: 10px;
}
.timeline h4:before {
  content: "@";
  margin-right: .2em;
}
.timeline p {
  padding-left: 10px;
}
.timeline > div {
  position: relative;
  padding-left: 20px;
  margin-bottom: 25px;
}
.timeline > div:last-child {
  margin-bottom: 0;
}
.timeline > div p {
  margin: .5em 0 2em;
}
.timeline > div .dot {
  position: absolute;
  left: -18px;
  top: -2px;
  background: #fff;
  border: 5px solid #2d7fb9;
  width: 18px;
  height: 18px;
  z-index: 1;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.timeline .year {
  display: inline-block;
  float: left;
  background: #2d7fb9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 8px;
  position: relative;
  top: 0;
  /*padding:4px 8px 4px 18px;
        position: relative;
        left:-25px;
        top:-2px;*/

}
.timeline .entry {
  margin-left: 110px;
}
/* ==========================================================================
   Skills
   ========================================================================== */
#skills h3 {
  font-size: 1.3em;
  color: #FFFFFF;
  margin: 22px 0 0 16px;
  text-transform: uppercase;
}
#skills ul.skills {
  width: 200px;
}
#skills ul.skills li {
  margin-bottom: 10px;
}
#skills ul.skills .name {
  float: left;
}
#skills ul.skills .percentage {
  float: right;
}
#skills ul.skills .bar {
  background: #31302C;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  height: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 5px;
}
#skills ul.skills .bar:before {
  clear: both;
}
#skills ul.skills .bar .progress {
  display: inline-block;
  background: #2d7fb9;
  background: #6db3f2;
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 34%, #3690f0 38%, #2d7fb9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db3f2), color-stop(34%, #54a3ee), color-stop(38%, #3690f0), color-stop(100%, #2d7fb9));
  background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 34%, #3690f0 38%, #2d7fb9 100%);
  background: -o-linear-gradient(top, #6db3f2 0%, #54a3ee 34%, #3690f0 38%, #2d7fb9 100%);
  background: -ms-linear-gradient(top, #6db3f2 0%, #54a3ee 34%, #3690f0 38%, #2d7fb9 100%);
  background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 34%, #3690f0 38%, #2d7fb9 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#6db3f2', endColorstr='#2d7fb9', GradientType=0);
  height: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 1px 2px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
#skills ul.skillset {
  margin: 1em 0;
  list-style-type: none;
  display: inline-block;
}
#skills ul.skillset li {
  float: left;
  height: 30px;
  line-height: 30px;
  position: relative;
  margin: 0 1.5em 0.6em 0;
}
#skills ul.skillset li span {
  background: #2d7fb9;
  color: #fff;
  font-size: 18px;
  font-size: 1em;
  text-decoration: none;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 4px 10px 3px;
  position: relative;
}
#skills ul.skillset li span:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0px;
  right: -13px;
  border-top: 13px solid transparent;
  border-left: 13px solid #2d7fb9;
  border-bottom: 13px solid transparent;
}
/* ==========================================================================
   Portfolio
   ========================================================================== */
#portfolio {
  margin: 0 auto;
}
#portfolio #pf-tag-selector {
  text-align: center;
}
#portfolio #pf-tag-selector p {
  text-align: center;
  margin: 0;
  font-family: 'Sanchez', serif;
}
#portfolio #pf-tag-selector ul {
  margin: 10px auto 10px;
  list-style-type: none;
}
#portfolio #pf-tag-selector ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-bottom: 5px;
}
#portfolio ul {
  padding-left: 0;
  text-align: center;
}
#portfolio ul li {
  display: inline-block;
  margin: 0 5px 0 auto;
}
#portfolio ul li h4 {
  font-family: 'Sanchez', serif;
  margin-bottom: 0;
}
#portfolio ul li p {
  font-size: 0.8em;
  margin-top: 0;
}
#portfolio ul li div.media-holder {
  width: 248px;
  position: relative;
  height: 186px;
  display: table;
}
#portfolio ul li div.media-holder a {
  vertical-align: middle;
  display: table-cell;
  background: url('../img/enlarge.png') no-repeat center center;
}
#portfolio ul li div.media-holder a img,
#portfolio ul li div.media-holder a .portfolio-text {
  height: 186px;
  width: 248px;
  max-height: 186px;
  max-width: 248px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#portfolio ul li div.media-holder a img {
  vertical-align: middle;
}
#portfolio ul li div.media-holder a .portfolio-text {
  background: #fff;
}
#portfolio ul li div.media-holder a .portfolio-text .big {
  display: block;
  line-height: 186px;
  font-size: 4em;
  color: #888;
  font-family: 'Rambla', sans-serif;
}
#portfolio ul li div.media-holder a .portfolio-text .big .fl {
  color: #2d7fb9;
}
/* =============== Overlay =============== */
#portfolio-overlay {
  margin: 2% auto;
  width: 96%;
  max-width: 960px;
  min-height: 100%;
  z-index: 1000;
  background: #fff;
  background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to right, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333;
}
#portfolio-overlay h2,
#portfolio-overlay h5 {
  font-family: 'Rambla', sans-serif;
}
#portfolio-overlay h2 {
  margin-left: .2em;
  font-size: 2.2em;
  margin-top: 0;
  line-height: 1.2em;
}
#portfolio-overlay h5 {
  font-size: 1.4em;
  margin-top: 0;
}
#portfolio-overlay a.close {
  position: absolute;
  right: 10px;
  top: 5px;
}
#portfolio-overlay a.hidden-md {
  display: none;
}
#portfolio-overlay #portfolio-overlay-inner {
  position: relative;
  padding: 10px;
  /* fallback width for wank browsers */

  width: 98%;
  /* Width - Less compiles 100%-20px to 80%, so as workaround - quotes are needed */

  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: calc(100% - 20px);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#portfolio-overlay #portfolio-overlay-inner .inner-content img {
  max-width: 100%;
}
#portfolio-overlay #portfolio-overlay-inner img.bordered {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(36, 32, 26, 0.2) 0 0 3px;
  -moz-box-shadow: rgba(36, 32, 26, 0.2) 0 0 3px;
  box-shadow: rgba(36, 32, 26, 0.2) 0 0 3px;
}
#portfolio-overlay #portfolio-overlay-inner ul.portfolio-images img.bordered {
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#portfolio-overlay #portfolio-overlay-inner div.block ul li {
  background: #414449;
  margin-bottom: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  display: inline-block;
  color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
#portfolio-overlay #portfolio-overlay-inner div.block a.btn {
  max-width: 80%;
  padding: 10px 40px;
  display: inline-block;
}
#portfolio-overlay .inner-content {
  padding-bottom: 10px;
}
#portfolio-overlay .inner-content .portfolio-images {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), -1px 0 3px rgba(0, 0, 0, 0.2), 1px 0 3px rgba(0, 0, 0, 0.2);
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#portfolio-overlay .inner-content .portfolio-images img {
  display: block;
  max-height: 450px;
}
/* =============== Responsive Slider =============== */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
ul.rslides_tabs {
  display: block;
  text-align: center;
  margin-top: 0;
  background: #414449;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
ul.rslides_tabs li {
  width: 24px;
  border: solid 1px #32373b;
  background: #3e4347;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
  background: -moz-linear-gradient(0% 0% 270deg, #565b5f, #3e4347);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #feffff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 4px 4px 4px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
ul.rslides_tabs li:last-child {
  margin-right: 0;
}
ul.rslides_tabs li a {
  color: #feffff;
  padding: 0px 9px;
}
ul.rslides_tabs li.rslides_here,
ul.rslides_tabs li:hover {
  background: #3d4f5d;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
  background: -moz-linear-gradient(0% 0% 270deg, #547085, #3d4f5d);
  background: #333;
}
ul.rslides_tabs li.rslides_here a,
ul.rslides_tabs li:hover a {
  color: #fff;
}
ul.rslides_tabs:after {
  clear: both;
}
/* ==========================================================================
   Contact
   ========================================================================== */
#contact div.col.span_1_of_3 > p {
  margin-top: 0;
}
#contact .contact-list li {
  margin-bottom: 10px;
}
#contact .contact-list li span {
  font-style: italic;
  display: block;
}
#contact .form-holder {
  margin: 0 auto;
  text-align: center;
}
#contact form .control-group {
  margin-bottom: 5px;
}
#contact form input[type='text'],
#contact form textarea {
  font-family: 'Open sans', sans-serif;
  color: #fff;
  width: 60%;
  padding: 8px;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 4px;
}
#contact form input[type='text']:focus,
#contact form textarea:focus {
  color: #000;
  background: #fff;
}
#contact form textarea {
  height: 140px;
}
#contact form input[type='submit'] {
  outline: none;
}
#contact form .error {
  box-shadow: 0 0 8px #da3f3e !important;
}
#contact #contact-status,
#contact #contact-success {
  display: none;
  background: #414449;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 20px;
}
#contact #contact-status h5,
#contact #contact-success h5,
#contact #contact-status p,
#contact #contact-success p {
  text-align: center;
}
#contact #contact-status h5,
#contact #contact-success h5 {
  font-size: 2em;
  margin: 0;
  line-height: 1.2em;
}
#contact #contact-success {
  margin-top: 0;
}
#contact #contact-success .boxed-in {
  border: 10px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  width: 150px;
  height: 150px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 0 auto;
  position: relative;
}
#contact #contact-success .boxed-in span {
  font-family: 'Rambla', sans-serif;
  font-size: 4.5em;
  line-height: 2.5em;
  position: absolute;
  top: 0;
  left: 20%;
}
#contact #contact-success #thanks h5 {
  margin-top: 20px;
}
#contact #contact-status ul {
  list-style-type: disc;
}
#contact #contact-status ul li {
  margin-bottom: 10px;
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   Responsive - Medium devices
   ========================================================================== */
@media screen and (max-width: 850px) {
  #side {
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    height: 69px;
  }
  #side .inner-wrapper {
    float: none;
    text-align: left;
    padding: 0;
    width: 100%;
  }
  #side .inner-wrapper #logo {
    float: left;
    text-align: center;
    margin-left: 20px;
  }
  #side .inner-wrapper #logo h1 {
    font-size: 2em;
    margin-top: 10px;
    display: block;
  }
  #side .inner-wrapper #logo h4.sub {
    margin-bottom: 0;
  }
  #side .inner-wrapper #nav {
    margin-right: 20px;
    margin-top: 5px;
    float: right;
  }
  #side .inner-wrapper #nav ul {
    width: 100%;
  }
  #side .inner-wrapper #nav ul li {
    width: 32px;
    height: 32px;
    margin-left: 6px;
    float: left;
    display: inline-block;
    margin-bottom: 0;
  }
  #side .inner-wrapper #nav ul li:first-child {
    margin-left: 0;
  }
  #side .inner-wrapper #nav ul li a,
  #side .inner-wrapper #nav ul li a:hover,
  #side .inner-wrapper #nav ul li a.active {
    font-size: 0em;
  }
  #wrapper {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  #wrapper .container {
    padding: 0 10px;
  }
  #portfolio-overlay {
    padding: 0;
    margin: 10px auto;
    border: 0;
  }
  #contact ul.contact-list {
    padding-left: 0;
  }
}
/* ==========================================================================
   Responsive - Small Devices
   ========================================================================== */
@media screen and (max-width: 540px) {
  #side {
    position: static;
    height: 100px;
  }
  #side .inner-wrapper #logo {
    text-align: center;
    float: none;
    padding-top: 10px;
    margin-bottom: 15px;
  }
  #side .inner-wrapper #logo h1 {
    display: inline-block;
    margin-top: 0;
  }
  #side .inner-wrapper #logo h4.sub {
    display: inline-block;
  }
  #side .inner-wrapper #nav {
    float: none;
    position: fixed;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  #side .inner-wrapper #nav.on-top {
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.7);
    z-index: 10;
    padding-bottom: 10px;
  }
  #side .inner-wrapper #nav.on-top ul {
    margin-top: 8px;
  }
  #side .inner-wrapper #nav ul {
    text-align: center;
    padding-left: 0;
    margin: 0 auto;
  }
  #side .inner-wrapper #nav ul li {
    float: none;
  }
  #profile .span_1_of_3,
  #profile .span_2_of_3 {
    float: none;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  #profile .image-holder {
    margin-bottom: 20px;
  }
  #profile ul.info li {
    text-align: left;
  }
  #portfolio ul li {
    float: none;
  }
  #portfolio ul li div.media-holder {
    margin: 0 auto;
  }
  #skills ul {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 600px) {
  #portfolio-overlay a.close {
    margin-right: 0;
    margin-bottom: 20px;
    position: static;
    top: 0;
    right: 0;
    display: block;
    clear: both;
  }
  #portfolio-overlay a.close.hidden-md {
    display: block;
    margin-bottom: 0;
    margin-top: 20px;
  }
  #portfolio-overlay .span_3_of_3,
  #portfolio-overlay .span_2_of_3,
  #portfolio-overlay .span_1_of_3 {
    width: 100%;
  }
}
/* ==========================================================================
   Responsive - Supersmall screens
   ========================================================================== */
@media only screen and (max-width: 480px) {
  .inner-title-holder h2.inner-title {
    font-size: 4em;
  }
  #profile ul.info li {
    height: auto;
    margin-bottom: 5px;
  }
  #profile ul.info li label {
    float: none;
    display: block;
  }
  #profile ul.info li span {
    margin-left: 0;
    margin-top: 5px;
  }
  #skills ul.skills {
    width: 100%;
    padding-left: 0;
  }
}
/* ==========================================================================
   IE8
   ========================================================================== */
.lt-ie9 #skills ul.skills .bar .progress {
  margin: 0 1px 4px;
}
.lt-ie9 #contact form .control-group input,
.lt-ie9 #contact form .control-group textarea {
  color: #333;
  background: #fff;
}
.lt-ie9 #contact form .control-group input.error,
.lt-ie9 #contact form .control-group textarea.error {
  border: 2px solid #da3f3e;
}
/* ==========================================================================
   IE7
   ========================================================================== */
.lt-ie8 #profile ul.info li span {
  position: relative;
  top: -25px;
}
.lt-ie8 #profile .social-media ul {
  padding-left: 30%;
}
.lt-ie8 #profile .social-media ul li {
  margin-right: 10px;
  float: left;
}
.lt-ie8 #profile .social-media ul li a {
  height: 64px;
}
