<a href="#" class="close btn">Close [ X ]</a>
<h2>Bexmedia - Video Slides</h2>

<div class="section group">
    <div class="col span_1_of_3 inner-content">
        <img src="assets/portfolio/bexmedia/bexmedia.jpg" alt="Bexmedia.">
    </div><!-- /.col -->
    <div class="col span_2_of_3">
        <div class="block">
            <h5>Description</h5>
            <p>Bexmedia is a Gloucestershire based video production company with specialisms in video for web, webcasting and motion graphics animation. They needed to make slideshows out of videos, thus we provided them a handy little tool for that.</p>

        </div><!-- /.block -->

        <div class="block">
            <h5>Client</h5>
            <p>Bexmedia.co.uk</p>
        </div><!-- /.block -->

        <div class="block">
            <h5>Technologies</h5>
            <ul>
                <li>jQuery</li>
            </ul>
        </div><!-- /.block -->

        <div class="block">
            <h5>View project</h5>
            <a href="http://www.bexmedia.net/bex-presentations/" class="btn" target="_blank">Launch Project</a>
        </div>
    </div><!-- /.col -->
</div><!-- /.section -->
<a href="#" class="close btn hidden-md">Close [ X ]</a>