<a href="#" class="close btn">Close [ X ]</a>
<h2>Lahtiliikkuu - Search</h2>

<div class="section group">
    <div class="col span_2_of_3 inner-content">
        <ul class="portfolio-images">
            <li><img src="assets/portfolio/lahtiliikkuu/search1.jpg" alt="01" class="bordered"></li>
            <li><img src="assets/portfolio/lahtiliikkuu/search2.jpg" alt="01" class="bordered"></li>
            <li><img src="assets/portfolio/lahtiliikkuu/results.jpg" alt="01" class="bordered"></li>
        </ul>
    </div><!-- /.col -->
    <div class="col span_1_of_3">
        <div class="block">
            <h5>Description</h5>
            <p>Lahtiliikkuu.fi's site is currently created as static html pages and they wanted to create a dynamic search listing without affecting their workflow.</p>

            <p>In order to achieve the goal at hand, I created a full-featured management system for administrators &amp; customers. The database-driven search functionality is embedded on their static pages by using jQuery.</p>
        </div><!-- /.block -->

        <div class="block">
            <h5>Client</h5>
            <p>Lahtiliikkuu.fi</p>
        </div><!-- /.block -->

        <div class="block">
            <h5>Technologies</h5>
            <ul>
                <li>HTML5/CSS3</li>
                <li>jQuery</li>
                <li>PHP</li>
                <li>Yii Framework</li>
            </ul>
        </div><!-- /.block -->

        <div class="block">
            <h5>View in Action</h5>
            <a href="http://lahtiliikkuu.fi/liiku-linkki.html" target="_blank" class="btn">View</a>
        </div>
    </div><!-- /.col -->
</div><!-- /.section -->
<a href="#" class="close btn hidden-md">Close [ X ]</a>