<a href="#" class="close btn">Close [ X ]</a>
<h2>NoteApp - An Yii2 &amp; Knockout.js experiment</h2>

<div class="section group">
    <div class="col span_2_of_3 inner-content">
        <img src="assets/portfolio/noteapp/app.jpg" alt="Noteapp." class="bordered">
    </div><!-- /.col -->
    <div class="col span_1_of_3">
        <div class="block">
            <h5>Description</h5>
            <p>For a long time I've meant to do something that would actually come handy for myself. With the progress of Yii2 development, I seized the opportunity and decided to get some edge on the upcoming framework and put it on a firetest. Thus the NoteApp was started.</p>

            <p>The main intention was to build the app primarily using Yii2, but in annoyance of writing shitload of jQuery to update DOM in real time, I decided that there must be a better way. Dived head first in Angular.js but decided fairly quickly that it wasn't for me. Nor was backbone. So I settled to learn Knockout.js, which served me fairly well in this one. The end result is basically Knockout application which uses Yii2 powered system to store persistent data.</p>
        </div><!-- /.block -->

        <div class="block">
            <h5>Client</h5>
            <p>Personal</p>
        </div><!-- /.block -->

        <div class="block">
            <h5>Technologies</h5>
            <ul>
                <li>HTML5/CSS5</li>
                <li>jQuery</li>
                <li>PHP</li>
                <li>Yii2 Framework</li>
                <li>Knockout.js</li>
                <li>Less</li>
            </ul>
        </div><!-- /.block -->

        <div class="block">
            <h5>View Project</h5>
            <a href="https://github.com/noxstyle/noteapp" class="btn" target="_blank">View on Github</a>
            <a href="http://noxstyle.info/demo/noteapp/web/" class="btn" target="_blank">View Demo</a>
        </div>
    </div><!-- /.col -->
</div><!-- /.section -->
<a href="#" class="close btn hidden-md">Close [ X ]</a>