<a href="#" class="close btn">Close [ X ]</a>
<h2>Pioneer Takeaway</h2>

<div class="section group">
    <div class="col span_2_of_3 inner-content">
        <ul class="portfolio-images" >
            <li><img src="assets/portfolio/pioneer/pioneer1.png" alt="Pioneer Frontpage." title="Pioneer Frontpage"></li>
            <li><img src="assets/portfolio/pioneer/pioneer2.png" alt="Pioneer Menu." title="Pioneer Menu"></li>
            <li><img src="assets/portfolio/pioneer/epos_admin0.png" alt="Epos Admin Landing." title="Epos Admin Landing"></li>
            <li><img src="assets/portfolio/pioneer/epos_admin1.png" alt="Epos Admin Orders." title="Epos Admin Orders"></li>
            <li><img src="assets/portfolio/pioneer/epos_admin2.png" alt="Epos Admin Attributes." title="Epos Admin Attributes"></li>
            <li><img src="assets/portfolio/pioneer/epos_admin3.png" alt="Epos Admin Settings." title="Epos Admin Settings"></li>
            <li><img src="assets/portfolio/pioneer/epos_admin4.png" alt="Epos Admin Menu Management." title="Epos Admin Menu Management"></li>
        </ul>
    </div><!-- /.col -->
    <div class="col span_1_of_3">
        <div class="block">
            <h5>Description</h5>

            <p></p>

            <p>Eclipse EpoS is designed to work as an eCommerce- and Electronic point of sales system. Built upon Concrete5 content management system grants you a whole new level of freedom. Your site is flexible and fully editable out of the box, best of all, it is easy to use and has practically no learning curve.</p>
        </div><!-- /.block -->

        <div class="block">
            <h5>Client</h5>
            <p>Pioneer Takeaway - Eclipse-Design.eu</p>
        </div><!-- /.block -->

        <div class="block">
            <h5>Technologies</h5>
            <ul>
                <li>Concrete5</li>
                <li>HTML5/CSS3</li>
                <li>jQuery</li>
                <li>PHP</li>
                <li>PayPal API</li>
            </ul>
        </div><!-- /.block -->

        <div class="block">
            <h5>View in Action</h5>
            <a href="http://pioneertakeaway.co.uk/" class="btn" target="_blank">View Site</a>
        </div>
    </div><!-- /.col -->
</div><!-- /.section -->
<a href="#" target="_blank" class="close btn hidden-md">Close [ X ]</a>