<a href="#" class="close btn">Close [ X ]</a>
<h2>This Portfolio</h2>

<div class="section group">
    <div class="col span_2_of_3 inner-content">
        <img src="assets/portfolio/portfolio/portfolio.jpg" alt="Portfolio." class="bordered">
    </div><!-- /.col -->
    <div class="col span_1_of_3">
        <div class="block">
            <h5>Description</h5>
            <p>The portfolio showcase. The site is built in accordance with responsive design ideology. Mainly scraped together from latest trends around the web design business. This differs a lot from my latest projects in a way that it isn't build on top of Bootstrap. The source is included, feel free to poke around with it and use any parts you see fit.</p>
        </div><!-- /.block -->

        <div class="block">
            <h5>Client</h5>
            <p>Personal</p>
        </div><!-- /.block -->

        <div class="block">
            <h5>Technologies</h5>
            <ul>
                <li>HTML5/CSS5</li>
                <li>Less</li>
                <li>jQuery</li>
            </ul>
        </div><!-- /.block -->

        <div class="block">
            <h5>Source</h5>
            <a href="https://bitbucket.org/noxstyle/noxstyle-portfolio" class="btn" target="_blank">View Source</a>
        </div>
    </div><!-- /.col -->
</div><!-- /.section -->
<a href="#" class="close btn hidden-md">Close [ X ]</a>
