<a href="#" class="close btn">Close [ X ]</a>
<h2><img src="assets/portfolio/stayman/logo.png" alt="Stayman."></h2>

<div class="section group">
    <div class="col span_2_of_3 inner-content">
        <ul class="portfolio-images">
            <li><img src="assets/portfolio/stayman/stayman1.jpg" alt="Stayman - Main." class="bordered"></li>
            <li><img src="assets/portfolio/stayman/stayman2.jpg" alt="Stayman - Results" class="bordered"></li>
            <li><img src="assets/portfolio/stayman/stayman3.jpg" alt="Stayman - Statistics" class="bordered"></li>
        </ul>
    </div><!-- /.col -->
    <div class="col span_1_of_3">
        <div class="block">
            <h5>Description</h5>
            <p><i>WebUI for software project done in 2009.</i></p>
            <p>The original software collects and analyzes data about horses. It aims to narrow down the most probable winners of any given race as well as to display the data in a more convenient manner. The WebUI eventually wound up as almost complete rewrite of the original software. It still uses couple of scrapers and calculation modules from the legacy software.</p>
        </div><!-- /.block -->

        <div class="block">
            <h5>Client</h5>
            <p>Stayman.eu</p>
        </div><!-- /.block -->

        <div class="block">
            <h5>Technologies</h5>
            <ul>
                <li>HTML5/CSS3</li>
                <li>jQuery</li>
                <li>PHP</li>
                <li>Yii Framework</li>
                <li>Nginx</li>
                <li>Web scraping</li>
            </ul>
        </div><!-- /.block -->

        <div class="block">
            <h5>View in Action</h5>
            <a href="http://stayman.eu" target="_blank" class="btn" title="View Stayman.eu Website">View Site</a>
        </div>
    </div><!-- /.col -->
</div><!-- /.section -->
<a href="#" class="close btn hidden-md">Close [ X ]</a>
