<a href="#" class="close btn">Close [ X ]</a>
<h2>Wallsend</h2>

<div class="section group">
    <div class="col span_1_of_3 inner-content">
        <img src="assets/portfolio/wallsend/wallsendlets.gif" alt="Wallsend-Lets.">
    </div><!-- /.col -->
    <div class="col span_2_of_3">
        <div class="block">
            <h5>Description</h5>
            <p>I integrated Wallsend-Lets' site with Rightmove and Globrix in early 2012. We had to rework the legacy system they had in place to make the datafeed integration possible. At the same time we also pushed few updates to their site. In December 2012 I also added a Zoopla datafeed integration to the list.</p>

        </div><!-- /.block -->

        <div class="block">
            <h5>Client</h5>
            <p>Wallsend-Lets.co.uk</p>
        </div><!-- /.block -->

        <div class="block">
            <h5>Technologies</h5>
            <ul>
                <li>PHP</li>
                <li>Rightmove ADF V3</li>
            </ul>
        </div><!-- /.block -->
    </div><!-- /.col -->
</div><!-- /.section -->
<a href="#" class="close btn hidden-md">Close [ X ]</a>